useDynLib(CPP)

importFrom( methods, new )

exportMethods( new, "$", "as.vector", "as.list" )

export( CPP )

exportClasses( "C++Object", "C++Class",

	# vectors
	"vector<>", "vector<int>", "vector<double>", "vector<raw>", 
	
	# sets
	"set<>", "set<int>"
	
	) 

# completion
importFrom( utils, .DollarNames )

S3method( .DollarNames, "vector<int>" )
S3method( .DollarNames, "vector<double>" )
S3method( .DollarNames, "vector<raw>" )

S3method( .DollarNames, "set<int>" )
S3method( .DollarNames, "set<double>" )
S3method( .DollarNames, "set<raw>" )

